# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test_files/
studentai10000.txt
studentai100000.txt
studentai1000000.txt
rezultatai.txt
sukurtas_studentai1000.txt
sukurtas_studentai10000.txt
sukurtas_studentai100000.txt
sukurtas_studentai1000000.txt
sukurtas_studentai10000000.txt
nelaimingi.txt
galvociai.txt

# Ignore Visual Studio and related IDE folders
# .vs/
# .vscode/
# *.vsidx

# Ignore everything in Bandymas ir setup folder
/Bandymas ir setup/